.Rproj.user
.Rhistory
.RData
.Ruserdata
data-raw/
rangeshiftR/
data-processed/hexGrids/
data-processed/hexClusters/
data-processed/capitals/
data-processed/oakTrees/
data-processed/rasters/
data-processed/for-rangeshiftR/
data-processed/info/
data-processed/*.tif
data-processed/*.tfw
data-processed/*.xml
data-processed/*.ovr
data-processed/*.cpg
data-processed/*.dbf